.banner {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  color: white;
  justify-content: center;
  height: 75vh;
}
.home_container {
  background: url("./../assets/banner.jpg") no-repeat center center/cover;
  background-size: cover;
  /* height: 85vh; */
  margin: auto;
  text-align: center;
}
.banner h1 {
  font-size: 80px;
  margin-bottom: 20px;
}
.main_container {
  max-width: 80%;
  margin: auto;
}
.banner p {
  font-size: 22px;
  margin-bottom: 20px;
}

.home_button .home_btn {
  background-color: #0cb8b6;
  padding: 15px 20px;
  border: none;
  font-size: 20px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
}
.home_content {
  margin: auto;
}
