.nav_container {
  width: 100%;
  padding: 10px 0;
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.4);
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.logo .logo_heading {
  color: rgb(31, 30, 30);
}
.container {
  display: flex;
  max-width: 80%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
.nav_links ul li {
  display: inline;
  margin-right: 15px;
}

.btn {
  background-color: #0cb8b6;
  padding: 15px 10px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  border-radius: 5px;
}
